<!--
  COMPONENTE: produto-adiciona.component.html
-->
<div>
  <div class="submit-form">

    <div *ngIf="!submitted">

      <h4>Produto</h4>

      <div class="form-group">
        <label for="nome">Nome</label>
        <input
          type="text"
          class="form-control"
          id="nome"
          required
          [(ngModel)]="produto.nome"
          name="nome"
        />
      </div>

      <div class="form-group">
        <label for="description">Preco</label>
        <input
          class="form-control"
          id="preco"
          required
          [(ngModel)]="produto.preco"
          name="preco"
        />
      </div>

      <button (click)="salvaProduto()" class="btn btn-success">Salvar</button>
      <button class="btn btn-secondary"  routerLink="/listaprodutos" >Cancelar</button>

    </div>

    <div *ngIf="submitted">
      <h4>Produto adiconado com sucesso!</h4>
      <button class="btn btn-success" (click)="novoProduto()">Addiciona</button>
      <button class="btn btn-secondary"  routerLink="/listaprodutos" >Sair</button>

    </div>

  </div>
</div>
